{% extends 'cakes/subpage.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'cakes/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'cakes/bootstrap1.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'cakes/Main.css' %}"type="text/css">
<!-- <link rel="stylesheet" href="{% static 'cakes/hiitest.css' %}"type="text/css"> -->
<script src="{% static 'cakes/popper.min.js' %}"></script>
<script src="{% static 'cakes/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'cakes/bootstrap.js' %}"></script>
<script src="{% static 'cakes/validation.js' %}"></script>

{% block content %}
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <label>Date: <input type="text" name="date"></label>
        <br/>
        <label>Address: <input name="address" type="text"></label>
        <br/>
        <label>Occasion: <input name="occasion" type="text"></label>
        <br/>
        <label>Number of People: <input name="numofpeople" type="text"></label>
        <br/>
        <label>More Details: <input name="moredetails" type="text"></label>
        <button type="submit">Save</button>
    </form>
{% endblock content %}