{% extends 'forms/formTemp.html' %}
{% load static %}

{% block content %}

   <div class="topnav">
        <div class="top-nav-container">
            <a class="nav-link" href="../../">Home</a>
            <a href="../signup">Signup</a>
        </div>
   </div>

    <form action="" id="form" method="POST">
      {% csrf_token %}
        <div class="container-fluid gradient-custom">

          <div style="height: 50px;"></div>
          <div class="row d-flex justify-content-center align-items-center h-1000">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5"  >
              <div class="card bg-white text-black" style="border-radius: 1rem;">
                <div class="card-body p-5 text-left">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
                    
                    <h2 class="title" style="text-align: center; font-family: 'Great Vibes', cursive;">Candy Cakes-Tanta</h2>
                    <hr>
                 <h2 class="fw-bold mb-2 text-uppercase"style="text-align:center">Login</h2>
                   
      
                    <div class="form-outline form-white mb-4 my-input">
                        <label class="form-label" for="typeEmailX" >Email</label>
                        <input name="email" type="email" id="typeEmailX" class="form-control form-control-lg my-email" />
                      <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                    </div>
                    <br>

                  <div class="form-outline form-white mb-4 my-input">
                     <label class="form-label" for="typePasswordX">Password</label>
                     <input name="pass" type="password" id="typePasswordX" class="form-control form-control-lg my-pass" />
                     <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                  </div>
      
                <p class="small mb-5 pb-lg-2"><a class="text-black-50" style="text-align:center" href="#!">Forgot password?</a></p>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}


                <button class="block2 rounded" style="border: none;" type="submit">Login</button>
      
               
                    
      
                  </div>
      
                  <div>
                <p class="mb-0" style="text-align: center;">Don't have an account? <a href="../signup" class="text-black-50 fw-bold"style="text-align:center">Sign Up</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
          <div style="height: 50px;"></div>

        </div>
     
    </form>
    <script src="{% static 'js/validation.js' %}"></script>
    

{% endblock content %}