{% extends 'forms/formTemp.html' %}
{% load static %}


{% block content %}

<div class="topnav">
        <div class="top-nav-container">
            <a class="nav-link" href="../../">Home</a>
            <a href="../login">Login</a>
        </div>
</div>

<div class="container-fluid gradient-custom">
    <div style="height: 50px;"></div>

    <div class="row justify-content-center align-items-center h-1000">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; ">
          <div class="card-body p-4 p-md-5">
            <h2 class="title" style="text-align: center; font-family: 'Great Vibes', cursive;">Candy Cakes-Tanta</h2>
            <hr>
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;">Sign Up</h3>
           
           
            <form id="form" method="POST">
              {% csrf_token %}
              <div class="row" style="padding-left: 18vmax;">
                  <div class="form-outline" >
                    <input name="username" placeholder="User Name"type="text" id="firstName" class="form-control form-control-lg my-fname" style="text-align: center;"/>
                    <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                  </div>

                </div>
<br>
                <!--
            <form id="form" method="POST">
              {% csrf_token %}
              <div class="row" style="padding-left: 18vmax;">
                  <div class="form-outline" >
                    <input name="firstName" placeholder="First Name"type="text" id="firstName" class="form-control form-control-lg my-fname" style="text-align: center;"/>
                    <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                  </div>

                </div>
<br>

                <div class="row" style="padding-left: 18vmax;">

                  <div class="form-outline">
                    <input name="lastName" placeholder="Last Name" type="text" id="lastName" class="form-control form-control-lg my-lname" style="text-align: center;" />
                    <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                  </div>
                </div>
                <br>-->

              <div class="row" style="padding-left: 18vmax;">


                  <div class="form-outline">
                    <input name="email" placeholder="Email" type="email" id="emailAddress" class="form-control form-control-lg my-email" style="text-align: center;"/>
                    <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                  </div>
                </div>
              
                  <br>  
                  <!-- <div class="row" style="padding-left: 18vmax;">

                  <div class="form-outline">
                    
                    <input name="number" placeholder="Phone Number" type="tel" id="phoneNumber" class="form-control form-control-lg my-number" style="text-align: center;"/>
                  <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                  </div>

                </div>
              <br> -->

              <div class="row" style="padding-left: 18vmax;">

                <div class="form-outline">
                  <input name="pass" placeholder="Password" type="password" id="password" class="form-control form-control-lg my-pass" style="text-align: center;"/>
                <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                </div>
              </div>
              <br>

              <div class="row" style="padding-left: 18vmax;">

                <div class="form-outline">
                  <input name="pass2" placeholder="Re-enter Password" type="password" id="password2" class="form-control form-control-lg my-pass2" style="text-align: center;"/>
                <div class="error" style="color: #ff3860; font-size: 9px; height: 13px;"></div>
                </div>
              </div>
              <br>

              {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
              {% endif %}

              <div class="row d-flex justify-content-center">
                    
                  <button class="block1 rounded" style="width: 80%;" type="submit">Register</button>
                
              </div>



            </form>



          </div>
        </div>
      </div>
    </div>
    <div style="height: 50px;"></div>

  </div>

 <script src="{% static 'js/validation.js' %}"></script>
  
{% endblock content %}