
body {
    font-family: "Lato", sans-serif;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
 
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #ff379b;
      width:  "100%";
    }
    
    .topnav a {
      float: left;
      color: #FFf;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #f9eaed;
      color: black;
    }
    
    .topnav a.active {
      background-color: #ff379b;
      color: white;
    }
    .topnav-right {
      float: right;
    }
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    .card-body {
    text-align: center;
  }
    
    
    .block {
      display: block;
      width: 100%;
      border: none;
      background-color: #e8deff;
      color: Black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
    
    .block:hover {
      background-color: #ffbadd;
      color: black;
    }
    .MainText {
      text-align: left;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    }
    .gradient-custom {
      
      background: #6a11cb;
      background-image: url(Login\ Background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
   
       }
       .gradient-custom-4 {
        
        background: #6fb5d8;
        
       
        }
        .block1 {
          display: block;
          width: 100%;
          border: none;
          background-color: #f9def7;
          color: Black;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          text-align: center;
        }
        .block1:hover {
          background-color: #dea0c9;
          color: black;
        }
        .block2 {
          display: block;
          width: 100%;
          border: none;
          background-color: #f9def7;
          color: Black;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          text-align: center;
        }
        .block2:hover {
          background-color: #dea0c9;
          color: black;
        }
        .gradient-custom {
          /* fallback for old browsers */
          background: #6a11cb;
          
          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
          
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background: linear-gradient(to right, rgb(193, 143, 247), rgb(223, 108, 202))
          }

          .title {
            font-family: 'Great Vibes', cursive;
            font-size:  70px;
          }
          .top-nav-container{
            padding: 0 20px;
          }
          .MainText {
            left: 350px;
          }
          .MainText p {
            padding: 0 50px 0 30px;
          }
          .dropdown-menu a:hover {
              background-color: #f9eaed;
              color: black;
          }
          .dropdown-menu {
            background-color: #ff379bbd;
          }
<<<<<<< HEAD

          .carousel .carousel-item {
            height: 448px;
            width: 358.4px;
          }
          
          .carousel-item img {
              position: absolute;
              object-fit: cover;
              top: 0;
              left: 0;
              min-height: 448px;
              min-width: 358.4px;
=======
          .card-body{
            width: fit-content;
    
>>>>>>> 3e86d17f5bfb61df84946e9e7e2dd0b3caa0fae4
          }